body {
    background-color: #f8f8f8;
    
}

main {
    display: inline-block;
    width: 800px;
    margin-left: calc((100% - 800px) / 2);
    color: #9D9D9D;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    display: inline-block;
    width: 100%;
    margin-bottom: 40px;
    
}
header> img {
    display: inline-block;
    height: 50px;
    float: left;
    
}

header> nav {
    display: inline-block;
    float: right;
    margin-top: 6px;
                
}

a{
    display: inline-block;
    float: left;
    padding: 1px;
    padding-left: 5px;
    padding-right: 5px;
    color: #9D9D9D;
    border-radius: 19px;
    font-size: 18px;
    line-height: 20px;
    text-decoration: none;
    border: 5px solid transparent;
    margin-left:15px ;
    
   
}
a:last-of-type{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 15px;
    font-size: 15px;
    border: 5px solid #9d9d9d;
    text-transform: uppercase;
}

section {
    display: inline-block;
    width: 100%;

}

div{
    display: inline-block;
    float:left;
    width: 35%;
    margin-left: 5%;
    margin-top: 40px;
    
}   
h1{
    display: inline-block;
    width: 100%;
    font-size: 80px;
    margin: 0;
}

p{
    display: inline-block;
    width: 100%;
    font-size: 25px;
    margin: 0;
}
section> img{ 
    display: inline-block;
    width: 45%;
    margin-left: 10%;
    margin-right: 5%;
}
